* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

video#video {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 10;
}

div#info {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    justify-content: center;
    align-items: center;
}

div#info img {
    width: 4rem;
    height: 4rem;
}

div#info p {
    text-align: center;
}

div#config {
    position: fixed;
    bottom: .5rem;
    left: 15%;
    right: 15%;
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
    padding: 0.5rem;
    border: solid 1px #95a5a6;
    border-radius: 1rem;
    background-color: #34495e;
    z-index: 15;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: .5rem;
}

div#config:hover,
div#config.visible {
    opacity: .85;
}

div#config button {
    flex: 0 1 24px;
    width: 24px;
}

div#config input {
    flex: 1 1;
}

button.action-button {
    background: rgba(0, 0, 0, 0);
    border: none;
    padding: 4px;
    border-radius: 4px;
    outline: none;
}

button.action-button:hover {
    background: rgba(0, 0, 0, 0.25);
    cursor: pointer;
}